@import url('./main-layout.css');
@import url('./views/hello-world-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-base-color: #ffffff;
      --lumo-primary-color: hsl(214, 100%, 50%);
      --lumo-primary-color-50pct: hsla(214, 100%, 50%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 100%, 50%, 0.1);

    }
